---
layout: default
title: Home
---
<div style="overflow: auto;">
  <img src="/public/alap_kshirsagar.jpg" alt="Me with a Kinova Robot"
    style="width: 366px; height: 245px; float: left; margin-right: 15px;">
</div>

<h1>Alap Kshirsagar</h1>

<div>
  <a href="/public/alap_kshirsagar_CV.pdf" style="margin-right: 10px; text-decoration: none; color: #0073e6;">CV</a>
  <a href="mailto:alapkshirsagar@gmail.com" style="margin-right: 10px; text-decoration: none; color: #0073e6;">Email</a>
  <a href="https://github.com/alapkshirsagar"
    style="margin-right: 10px; text-decoration: none; color: #0073e6;">GitHub</a>
</div>
<br>
<p>Hello Fellow-traveller-on-this-spaceship-Earth,<br>
  Thank you for visiting my webpage!</p>

<p>
  I am a postdoctoral researcher in the <a href="https://www.ias.informatik.tu-darmstadt.de/"
    style="color: #0073e6;">Intelligent Autonomous Systems Group</a> led by <a
    href="https://www.ias.informatik.tu-darmstadt.de/Team/JanPeters" style="color: #0073e6;">Prof. Jan Peters</a> at Technische Universität Darmstadt, Germany. 
    My research interests include Human-Robot Interaction, Robotic Manipulation, and Robot Learning.
</p>

<p>
  I am currently part of <a href="https://www.theadaptivemind.de/" style="color: #0073e6;">The Adaptive Mind</a>
  research cluster, which brings together scientists from Cognitive Science, Experimental Psychology, Clinical
  Psychology, and Artificial Intelligence to understand how the human mind adapts to changing conditions, and what
  happens when these adaptive processes fail.
</p>

<p>
  I completed my Ph.D. in Mechanical Engineering at Cornell University, USA, where I was part of the <a
    href="http://hrc2.io/" style="color: #0073e6;">Human-Robot Collaboration and Companionship Lab</a> led by <a
    href="http://guyhoffman.com/" style="color: #0073e6;">Dr. Guy Hoffman</a>. Before my Ph.D., I completed a Master's
  in Mechanical Engineering at the Indian Institute of Technology (IIT) Madras and a Bachelor's in Mechanical
  Engineering at IIT Bombay. I have been a visiting student researcher at the University of California-Berkeley, Rheinisch-Westfälische Technische Hochschule Aachen, and Ben-Gurion University of the Negev.
</p>

<h2>News</h2>
<div style="max-height: 300px; overflow-y: auto; padding-right: 10px;">
  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>07/2024:</strong> Co-organized the <a href="https://sites.google.com/view/wearl">Workshop on Embodiment Aware Robot Learning (EARL)</a> at
    RSS 2024.
  </div>
  
  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>06/2024:</strong> Our paper <a href="/papers/moveint-ral">MoVEInt: Mixture of Variational Experts for Learning
      Human–Robot Interactions From Demonstrations</a> got accepted in RAL and IROS 2024.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>05/2024:</strong> Selected as a member of the 30-strong cohort of the <a href="https://sites.google.com/view/rsspioneers2024/participants?authuser=0">RSS Pioneers Workshop 2024</a>.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>04/2024:</strong> Served as an Associate Editor for IROS 2024.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>04/2024:</strong> Our paper <a href="/papers/fearbalance-cogsci">Balancing on the Edge: Review and Computational Framework on the Dynamics of Fear of Falling and Fear of Heights in Postural Control</a> got accepted at the Annual Meeting of the Cognitive Science Society (CogSci) 2024.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>03/2024:</strong> Co-organized the <a href="https://sites.google.com/view/hirl24/home">3rd Workshop on Human-Interactive Robot Learning (HIRL)</a> at HRI 2024.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>03/2024:</strong> Our paper "Task-Adapted Single-Finger Explorations of Complex Objects" got accepted at the Eurohaptics Conference 2024.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>03/2024:</strong> Co-organized the <a href="https://igstc.robot-learning.net/">Indo-German Workshop on
    Frontiers of Robot Learning (FRL 2024)</a> at IIT Bombay.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>02/2024:</strong> Our paper <a href="https://www.ias.informatik.tu-darmstadt.de/uploads/Team/BorisBelousov/boehm24_tart.pdf">What Matters for Active Texture Recognition With Vision-Based Tactile Sensors</a> got accepted at ICRA 2024.
  </div>

  <div style="margin-bottom: 20px; padding: 10px; border-left: 4px solid #0073e6; background-color: #f9f9f9;">
    <strong>01/2024:</strong> Our two Late-breaking Reports <a
      href="papers/handoverbihsmm-hri">Kinematically Constrained Human-like Bimanual Robot-to-Human Handovers</a> and <a href="papers/tschmm-hri">Transition State Clustering for Interaction Segmentation and Learning</a> got accepted at HRI 2024.
  </div>

</div>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
!-->
<!-- <p class = "message" align ="justify"> -->

<!-- <font size="3">Postdoctoral Researcher
  <br>
  Department of Computer Science, 
  <a href= "https://www.tu-darmstadt.de/"> Technische Universität Darmstadt  </a>
  <br>
  Research Group: <a href="https://www.ias.informatik.tu-darmstadt.de/"> Intelligent Autonomous Systems Group </a>
  <br>
  PI: <a href="https://www.ias.informatik.tu-darmstadt.de/Team/JanPeters"> Jan Peters</a>
</font>
  <br> <br>
<font size="3">PhD in Mechanical Engineering (2017-2022),
<a href= "http://www.mae.cornell.edu/"> Cornell University </a>
<br>
Research Group: <a href="http://hrc2.io/"> Human-Robot Collaboration and Companionship Lab </a>
<br>

Advisor: <a href="http://guyhoffman.com/"> Guy Hoffman</a>
</font>
<br>
<br> -->
<!-- <br> More about my academic and research journey <a href = "about"> here</a>.
<br><br>
The multidisciplinary nature of robotics and it's real world applications excite me.
<br>
More about my projects <a href = "projects"> here</a>.
<br>
<br> -->

<!-- Apart from working on robotics projects, I like to spend my time in <a href= "/travel">travelling</a>, playing flute, listening/reading books and cooking.
<br> <br>
-->

<!-- </p> -->
