---
layout: default
title: Home
---
<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
<p class = "message" align ="justify">
  <img src="/public/me.JPG" alt="Me" style="width:300px;height:300px; padding-bottom: 20px, padding-left: 20px" align="right">

  Hello,
<br>
  Thank you for visiting my webpage!
<br>
<br>
I am Alap Kshirsagar, a 2nd year M.Tech. student of Mechanical Design stream at <a href= "https://en.wikipedia.org/wiki/Indian_Institute_of_Technology_Madras"> Indian Institute of Technology Madras </a>. At present, I am pursuing my master's thesis in the field of <em>Robotics</em> at <a href="http://www.igm.rwth-aachen.de/index.php?id=start">Institut für Getriebetechnik und Maschinendynamik</a>, RWTH Aachen, Germany through <a href= "https://www.daad.de/deutschland/stipendium/datenbank/en/21148-scholarship-database/?daad=1&detail=10000325&origin=4&page=1&q=&status=3&subjectGrps=C">DAAD-IIT sandwich master scholarship </a> program.
<br> More about my academic and research journey <a href = "about"> here</a>.
<br><br>
My research interests are design and control of robotic manipulators, mobile/flying robots and computer vision. The multidisciplinary nature of robotics field and the wide array of it's real world applications excite me.
<br>
More about my projects <a href = "projects"> here</a>.
<br>
<br>

Apart from working on robotics projects, I like to spend my time in travelling, playing flute, listening/reading novels, cooking and playing hockey.
<br> <br>
Contact me on:
<a href = "mailto:alapkshirsagar@gmail.com"> Gmail </a>
<a href ="https://www.facebook.com/AlapKshirsagar"> Facebook </a>
<a  href = "https://github.com/alapkshirsagar"> GitHub </a>
</p>
